.generic-content-container {

	p {
		font-weight: 300;
		line-height: 1.45;
		font-size: 1.025rem;
		margin: 0 0 1.8rem 0;

		@mixin atSmall {
			line-height: 1.55;
		}
	}

	p a {
		font-weight: 700;
	}

}